@charset "UTF-8";
html { box-sizing: border-box; }
*, *::after, *::before { box-sizing: inherit; }
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0; }
b, strong { font-weight: bold; }
ol, ul { list-style: none; }
em { font-weight: normal; font-style: italic; }
code, pre { font-family: monospace, monospace; font-size: 1em; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
html { font-synthesis: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
p { text-align: left; }
header, .colors li { text-align: center; }
nav, a { text-transform: uppercase; }
html { font-size: 100%; min-width: 100%; }
body { max-width: 100%; margin-left: auto; margin-right: auto; font-family: "Roboto Mono"; font-weight: 400; background-color: transparent; box-sizing: border-box; position: relative; min-height: 100%; margin: 0; padding-bottom: 4rem; }
body::after { clear: both; content: ""; display: table; }
header, footer, .synopsis, .main { max-width: 100%; margin-left: auto; margin-right: auto; }
header::after, footer::after, .synopsis::after, .main::after { clear: both; content: ""; display: table; }
nav { font-size: 0.59375rem; line-height: solid0px/16px0rem; letter-spacing: 1.1375px; letter-spacing: 0.07109rem; margin-top: 0; margin-bottom: 2rem; }
header { width: 100%; padding-top: 4rem; margin: 1rem auto 2rem auto; top: -1rem; position: fixed; z-index: 10; display: block; height: 10rem; }
a { letter-spacing: 1.625px; letter-spacing: 0.10156rem; font-weight: 400; text-decoration: none; }
a:hover { color: #d7005f; }
.synopsis { -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; transition: all 0.25s linear; padding: 1rem 3rem; top: 5rem; margin-top: 2rem; margin-bottom: 2rem; position: relative; height: auto; overflow: hidden; }
footer { height: 6rem; position: absolute; right: 0; bottom: 0 !important; left: 0; text-align: center; }
footer span { font-size: 0.375rem; letter-spacing: 1.1375px; letter-spacing: 0.07109rem; }
section { position: relative; z-index: 5; height: 100%; display: block; }
p { font-size: 0.59375rem; line-height: 1rem; letter-spacing: 0.4875px; letter-spacing: 0.03047rem; margin: 0; }
p span { font-size: 0.53125rem; line-height: solid0px/16px0rem; font-weight: 700; }
p:first-of-type { margin-top: 1.75rem; }
em { font-weight: 400; font-style: italic; }
p + p { margin-top: 0; text-indent: 32px; }
a { -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; transition: all 0.25s linear; cursor: pointer; }
a:link { color: #202429; }
a:visited { color: #202429; }
a:hover { color: #d7005f; }
a:active { color: #d7005f; -webkit-appearance: none; -moz-outline: 0 none; outline: none; }
.main { padding: 0 15%; margin: 6rem auto 0; text-align: center; }
.title { font-size: 1.15625rem; line-height: solid0px/16px0rem; letter-spacing: 3.0875px; letter-spacing: 0.19297rem; display: block; font-weight: 500; margin-bottom: 1.5rem; z-index: 10; }
.title sup { font-size: 0.625rem; margin-left: .1rem; }
.opt:hover { color: #00AFD7 !important; }
.opt.active { color: #FF0000 !important; }
.src:hover, .zip:hover { color: #d7005f !important; }
.zip::before, .opt::before { content: "/"; margin: 0 8px 0 0; color: #d2d2d2 !important; }
.zip:before, .opt:before { cursor: default; }
.palette { width: 100%; display: block; margin-top: 8rem; position: relative; counter-reset: ol -1; text-align: center; }
.colors { -webkit-display: flex; display: flex; align-content: flex-start; clear: left; display: -ms-flexbox; flex-flow: row wrap; flex-direction: row; flex-align: center; justify-content: center; padding: 0; margin: 0; }
.colors li { font-size: 0.53125rem; line-height: 1.3125rem; display: inline-block; width: 50px; height: 30px; line-height: 30px; margin-top: 10px; overflow: hidden; vertical-align: middle; }
[data-bg='dark'] { background-color: #202429; color: #eee; }
[data-bg='dark'] p, [data-bg='dark'] p span, [data-bg='dark'] a { color: #F8F9F9; }
[data-bg='dark'] .title { color: #F8F9F9 !important; }
[data-bg='light'] { background-color: #F8F9F9; color: #777; }
[data-bg='light'] .title { color: #202429 !important; }
[data-value~='hex'] ol li { letter-spacing: 0.4875px; letter-spacing: 0.03047rem; counter-increment: ol 1; }
[data-value~='hex'] ol li::before { content: ' '; margin-left: 0; }
[data-value~='ref'] ol li { letter-spacing: 1.1375px; letter-spacing: 0.07109rem; counter-increment: ol 1; }
[data-value~='ref'] ol li::before { content: counter(ol) " "; }
[data-value~='ref'] ol li::after { content: counter(ol) " "; }
[data-spacing='off'] li { margin-left: -2px; margin-right: -2px; }
[data-spacing='on'] li { margin-left: 5px !important; margin-right: 5px !important; }
[data-state='open'] { max-height: 100%; }
[data-state='closed'] { visibility: hidden; height: 1px; }
[data-icon=expand]::after { padding-right: 1em; content: " + "; color: inherit; font-style: normal; }
[data-icon=compress]::after { padding-right: 1em; content: " × "; color: #FF0000; font-style: normal; }
._16 { padding-top: 1em; }
._16 li:nth-of-type(1) { border-top: 3px solid #000000 !important; }
._16 li:nth-of-type(2) { border-top: 3px solid #800000 !important; }
._16 li:nth-of-type(3) { border-top: 3px solid #008000 !important; }
._16 li:nth-of-type(4) { border-top: 3px solid #808000 !important; }
._16 li:nth-of-type(5) { border-top: 3px solid #000080 !important; }
._16 li:nth-of-type(6) { border-top: 3px solid #800080 !important; }
._16 li:nth-of-type(7) { border-top: 3px solid #008080 !important; }
._16 li:nth-of-type(8) { border-top: 3px solid #C0C0C0 !important; }
._16 li:nth-of-type(9) { border-top: 3px solid #808080 !important; }
._16 li:nth-of-type(10) { border-top: 3px solid #FF0000 !important; }
._16 li:nth-of-type(11) { border-top: 3px solid #00FF00 !important; }
._16 li:nth-of-type(12) { border-top: 3px solid #FFFF00 !important; }
._16 li:nth-of-type(13) { border-top: 3px solid #0000FF !important; }
._16 li:nth-of-type(14) { border-top: 3px solid #FF00FF !important; }
._16 li:nth-of-type(15) { border-top: 3px solid #00FFFF !important; }
._16 li:nth-of-type(16) { border-top: 3px solid #FFFFFF !important; }
._216 li:nth-of-type(1) { border-top: 3px solid #000000 !important; }
._216 li:nth-of-type(2) { border-top: 3px solid #00005F !important; }
._216 li:nth-of-type(3) { border-top: 3px solid #000087 !important; }
._216 li:nth-of-type(4) { border-top: 3px solid #0000AF !important; }
._216 li:nth-of-type(5) { border-top: 3px solid #0000D7 !important; }
._216 li:nth-of-type(6) { border-top: 3px solid #0000FF !important; }
._216 li:nth-of-type(7) { border-top: 3px solid #005F00 !important; }
._216 li:nth-of-type(8) { border-top: 3px solid #005F5F !important; }
._216 li:nth-of-type(9) { border-top: 3px solid #005F87 !important; }
._216 li:nth-of-type(10) { border-top: 3px solid #005FAF !important; }
._216 li:nth-of-type(11) { border-top: 3px solid #005FD7 !important; }
._216 li:nth-of-type(12) { border-top: 3px solid #005FFF !important; }
._216 li:nth-of-type(13) { border-top: 3px solid #008700 !important; }
._216 li:nth-of-type(14) { border-top: 3px solid #00875F !important; }
._216 li:nth-of-type(15) { border-top: 3px solid #008787 !important; }
._216 li:nth-of-type(16) { border-top: 3px solid #0087AF !important; }
._216 li:nth-of-type(17) { border-top: 3px solid #0087D7 !important; }
._216 li:nth-of-type(18) { border-top: 3px solid #0087FF !important; }
._216 li:nth-of-type(19) { border-top: 3px solid #00AF00 !important; }
._216 li:nth-of-type(20) { border-top: 3px solid #00AF5F !important; }
._216 li:nth-of-type(21) { border-top: 3px solid #00AF87 !important; }
._216 li:nth-of-type(22) { border-top: 3px solid #00AFAF !important; }
._216 li:nth-of-type(23) { border-top: 3px solid #00AFD7 !important; }
._216 li:nth-of-type(24) { border-top: 3px solid #00AFFF !important; }
._216 li:nth-of-type(25) { border-top: 3px solid #00D700 !important; }
._216 li:nth-of-type(26) { border-top: 3px solid #00D75F !important; }
._216 li:nth-of-type(27) { border-top: 3px solid #00D787 !important; }
._216 li:nth-of-type(28) { border-top: 3px solid #00D7AF !important; }
._216 li:nth-of-type(29) { border-top: 3px solid #00D7D7 !important; }
._216 li:nth-of-type(30) { border-top: 3px solid #00D7FF !important; }
._216 li:nth-of-type(31) { border-top: 3px solid #00FF00 !important; }
._216 li:nth-of-type(32) { border-top: 3px solid #00FF5F !important; }
._216 li:nth-of-type(33) { border-top: 3px solid #00FF87 !important; }
._216 li:nth-of-type(34) { border-top: 3px solid #00FFAF !important; }
._216 li:nth-of-type(35) { border-top: 3px solid #00FFD7 !important; }
._216 li:nth-of-type(36) { border-top: 3px solid #00FFFF !important; }
._216 li:nth-of-type(37) { border-top: 3px solid #5F0000 !important; }
._216 li:nth-of-type(38) { border-top: 3px solid #5F005F !important; }
._216 li:nth-of-type(39) { border-top: 3px solid #5F0087 !important; }
._216 li:nth-of-type(40) { border-top: 3px solid #5F00AF !important; }
._216 li:nth-of-type(41) { border-top: 3px solid #5F00D7 !important; }
._216 li:nth-of-type(42) { border-top: 3px solid #5F00FF !important; }
._216 li:nth-of-type(43) { border-top: 3px solid #5F5F00 !important; }
._216 li:nth-of-type(44) { border-top: 3px solid #5F5F5F !important; }
._216 li:nth-of-type(45) { border-top: 3px solid #5F5F87 !important; }
._216 li:nth-of-type(46) { border-top: 3px solid #5F5FAF !important; }
._216 li:nth-of-type(47) { border-top: 3px solid #5F5FD7 !important; }
._216 li:nth-of-type(48) { border-top: 3px solid #5F5FFF !important; }
._216 li:nth-of-type(49) { border-top: 3px solid #5F8700 !important; }
._216 li:nth-of-type(50) { border-top: 3px solid #5F875F !important; }
._216 li:nth-of-type(51) { border-top: 3px solid #5F8787 !important; }
._216 li:nth-of-type(52) { border-top: 3px solid #5F87AF !important; }
._216 li:nth-of-type(53) { border-top: 3px solid #5F87D7 !important; }
._216 li:nth-of-type(54) { border-top: 3px solid #5F87FF !important; }
._216 li:nth-of-type(55) { border-top: 3px solid #5FAF00 !important; }
._216 li:nth-of-type(56) { border-top: 3px solid #5FAF5F !important; }
._216 li:nth-of-type(57) { border-top: 3px solid #5FAF87 !important; }
._216 li:nth-of-type(58) { border-top: 3px solid #5FAFAF !important; }
._216 li:nth-of-type(59) { border-top: 3px solid #5FAFD7 !important; }
._216 li:nth-of-type(60) { border-top: 3px solid #5FAFFF !important; }
._216 li:nth-of-type(61) { border-top: 3px solid #5FD700 !important; }
._216 li:nth-of-type(62) { border-top: 3px solid #5FD75F !important; }
._216 li:nth-of-type(63) { border-top: 3px solid #5FD787 !important; }
._216 li:nth-of-type(64) { border-top: 3px solid #5FD7AF !important; }
._216 li:nth-of-type(65) { border-top: 3px solid #5FD7D7 !important; }
._216 li:nth-of-type(66) { border-top: 3px solid #5FD7FF !important; }
._216 li:nth-of-type(67) { border-top: 3px solid #5FFF00 !important; }
._216 li:nth-of-type(68) { border-top: 3px solid #5FFF5F !important; }
._216 li:nth-of-type(69) { border-top: 3px solid #5FFF87 !important; }
._216 li:nth-of-type(70) { border-top: 3px solid #5FFFAF !important; }
._216 li:nth-of-type(71) { border-top: 3px solid #5FFFD7 !important; }
._216 li:nth-of-type(72) { border-top: 3px solid #5FFFFF !important; }
._216 li:nth-of-type(73) { border-top: 3px solid #870000 !important; }
._216 li:nth-of-type(74) { border-top: 3px solid #87005F !important; }
._216 li:nth-of-type(75) { border-top: 3px solid #870087 !important; }
._216 li:nth-of-type(76) { border-top: 3px solid #8700AF !important; }
._216 li:nth-of-type(77) { border-top: 3px solid #8700D7 !important; }
._216 li:nth-of-type(78) { border-top: 3px solid #8700FF !important; }
._216 li:nth-of-type(79) { border-top: 3px solid #875F00 !important; }
._216 li:nth-of-type(80) { border-top: 3px solid #875F5F !important; }
._216 li:nth-of-type(81) { border-top: 3px solid #875F87 !important; }
._216 li:nth-of-type(82) { border-top: 3px solid #875FAF !important; }
._216 li:nth-of-type(83) { border-top: 3px solid #875FD7 !important; }
._216 li:nth-of-type(84) { border-top: 3px solid #875FFF !important; }
._216 li:nth-of-type(85) { border-top: 3px solid #878700 !important; }
._216 li:nth-of-type(86) { border-top: 3px solid #87875F !important; }
._216 li:nth-of-type(87) { border-top: 3px solid #878787 !important; }
._216 li:nth-of-type(88) { border-top: 3px solid #8787AF !important; }
._216 li:nth-of-type(89) { border-top: 3px solid #8787D7 !important; }
._216 li:nth-of-type(90) { border-top: 3px solid #8787FF !important; }
._216 li:nth-of-type(91) { border-top: 3px solid #87AF00 !important; }
._216 li:nth-of-type(92) { border-top: 3px solid #87AF5F !important; }
._216 li:nth-of-type(93) { border-top: 3px solid #87AF87 !important; }
._216 li:nth-of-type(94) { border-top: 3px solid #87AFAF !important; }
._216 li:nth-of-type(95) { border-top: 3px solid #87AFD7 !important; }
._216 li:nth-of-type(96) { border-top: 3px solid #87AFFF !important; }
._216 li:nth-of-type(97) { border-top: 3px solid #87D700 !important; }
._216 li:nth-of-type(98) { border-top: 3px solid #87D75F !important; }
._216 li:nth-of-type(99) { border-top: 3px solid #87D787 !important; }
._216 li:nth-of-type(100) { border-top: 3px solid #87D7AF !important; }
._216 li:nth-of-type(101) { border-top: 3px solid #87D7D7 !important; }
._216 li:nth-of-type(102) { border-top: 3px solid #87D7FF !important; }
._216 li:nth-of-type(103) { border-top: 3px solid #87FF00 !important; }
._216 li:nth-of-type(104) { border-top: 3px solid #87FF5F !important; }
._216 li:nth-of-type(105) { border-top: 3px solid #87FF87 !important; }
._216 li:nth-of-type(106) { border-top: 3px solid #87FFAF !important; }
._216 li:nth-of-type(107) { border-top: 3px solid #87FFD7 !important; }
._216 li:nth-of-type(108) { border-top: 3px solid #87FFFF !important; }
._216 li:nth-of-type(109) { border-top: 3px solid #AF0000 !important; }
._216 li:nth-of-type(110) { border-top: 3px solid #AF005F !important; }
._216 li:nth-of-type(111) { border-top: 3px solid #AF0087 !important; }
._216 li:nth-of-type(112) { border-top: 3px solid #AF00AF !important; }
._216 li:nth-of-type(113) { border-top: 3px solid #AF00D7 !important; }
._216 li:nth-of-type(114) { border-top: 3px solid #AF00FF !important; }
._216 li:nth-of-type(115) { border-top: 3px solid #AF5F00 !important; }
._216 li:nth-of-type(116) { border-top: 3px solid #AF5F5F !important; }
._216 li:nth-of-type(117) { border-top: 3px solid #AF5F87 !important; }
._216 li:nth-of-type(118) { border-top: 3px solid #AF5FAF !important; }
._216 li:nth-of-type(119) { border-top: 3px solid #AF5FD7 !important; }
._216 li:nth-of-type(120) { border-top: 3px solid #AF5FFF !important; }
._216 li:nth-of-type(121) { border-top: 3px solid #AF8700 !important; }
._216 li:nth-of-type(122) { border-top: 3px solid #AF875F !important; }
._216 li:nth-of-type(123) { border-top: 3px solid #AF8787 !important; }
._216 li:nth-of-type(124) { border-top: 3px solid #AF87AF !important; }
._216 li:nth-of-type(125) { border-top: 3px solid #AF87D7 !important; }
._216 li:nth-of-type(126) { border-top: 3px solid #AF87FF !important; }
._216 li:nth-of-type(127) { border-top: 3px solid #AFAF00 !important; }
._216 li:nth-of-type(128) { border-top: 3px solid #AFAF5F !important; }
._216 li:nth-of-type(129) { border-top: 3px solid #AFAF87 !important; }
._216 li:nth-of-type(130) { border-top: 3px solid #AFAFAF !important; }
._216 li:nth-of-type(131) { border-top: 3px solid #AFAFD7 !important; }
._216 li:nth-of-type(132) { border-top: 3px solid #AFAFFF !important; }
._216 li:nth-of-type(133) { border-top: 3px solid #AFD700 !important; }
._216 li:nth-of-type(134) { border-top: 3px solid #AFD75F !important; }
._216 li:nth-of-type(135) { border-top: 3px solid #AFD787 !important; }
._216 li:nth-of-type(136) { border-top: 3px solid #AFD7AF !important; }
._216 li:nth-of-type(137) { border-top: 3px solid #AFD7D7 !important; }
._216 li:nth-of-type(138) { border-top: 3px solid #AFD7FF !important; }
._216 li:nth-of-type(139) { border-top: 3px solid #AFFF00 !important; }
._216 li:nth-of-type(140) { border-top: 3px solid #AFFF5F !important; }
._216 li:nth-of-type(141) { border-top: 3px solid #AFFF87 !important; }
._216 li:nth-of-type(142) { border-top: 3px solid #AFFFAF !important; }
._216 li:nth-of-type(143) { border-top: 3px solid #AFFFD7 !important; }
._216 li:nth-of-type(144) { border-top: 3px solid #AFFFFF !important; }
._216 li:nth-of-type(145) { border-top: 3px solid #D70000 !important; }
._216 li:nth-of-type(146) { border-top: 3px solid #D7005F !important; }
._216 li:nth-of-type(147) { border-top: 3px solid #D70087 !important; }
._216 li:nth-of-type(148) { border-top: 3px solid #D700AF !important; }
._216 li:nth-of-type(149) { border-top: 3px solid #D700D7 !important; }
._216 li:nth-of-type(150) { border-top: 3px solid #D700FF !important; }
._216 li:nth-of-type(151) { border-top: 3px solid #D75F00 !important; }
._216 li:nth-of-type(152) { border-top: 3px solid #D75F5F !important; }
._216 li:nth-of-type(153) { border-top: 3px solid #D75F87 !important; }
._216 li:nth-of-type(154) { border-top: 3px solid #D75FAF !important; }
._216 li:nth-of-type(155) { border-top: 3px solid #D75FD7 !important; }
._216 li:nth-of-type(156) { border-top: 3px solid #D75FFF !important; }
._216 li:nth-of-type(157) { border-top: 3px solid #D78700 !important; }
._216 li:nth-of-type(158) { border-top: 3px solid #D7875F !important; }
._216 li:nth-of-type(159) { border-top: 3px solid #D78787 !important; }
._216 li:nth-of-type(160) { border-top: 3px solid #D787AF !important; }
._216 li:nth-of-type(161) { border-top: 3px solid #D787D7 !important; }
._216 li:nth-of-type(162) { border-top: 3px solid #D787FF !important; }
._216 li:nth-of-type(163) { border-top: 3px solid #D7AF00 !important; }
._216 li:nth-of-type(164) { border-top: 3px solid #D7AF5F !important; }
._216 li:nth-of-type(165) { border-top: 3px solid #D7AF87 !important; }
._216 li:nth-of-type(166) { border-top: 3px solid #D7AFAF !important; }
._216 li:nth-of-type(167) { border-top: 3px solid #D7AFD7 !important; }
._216 li:nth-of-type(168) { border-top: 3px solid #D7AFFF !important; }
._216 li:nth-of-type(169) { border-top: 3px solid #D7D700 !important; }
._216 li:nth-of-type(170) { border-top: 3px solid #D7D75F !important; }
._216 li:nth-of-type(171) { border-top: 3px solid #D7D787 !important; }
._216 li:nth-of-type(172) { border-top: 3px solid #D7D7AF !important; }
._216 li:nth-of-type(173) { border-top: 3px solid #D7D7D7 !important; }
._216 li:nth-of-type(174) { border-top: 3px solid #D7D7FF !important; }
._216 li:nth-of-type(175) { border-top: 3px solid #D7FF00 !important; }
._216 li:nth-of-type(176) { border-top: 3px solid #D7FF5F !important; }
._216 li:nth-of-type(177) { border-top: 3px solid #D7FF87 !important; }
._216 li:nth-of-type(178) { border-top: 3px solid #D7FFAF !important; }
._216 li:nth-of-type(179) { border-top: 3px solid #D7FFD7 !important; }
._216 li:nth-of-type(180) { border-top: 3px solid #D7FFFF !important; }
._216 li:nth-of-type(181) { border-top: 3px solid #FF0000 !important; }
._216 li:nth-of-type(182) { border-top: 3px solid #FF005F !important; }
._216 li:nth-of-type(183) { border-top: 3px solid #FF0087 !important; }
._216 li:nth-of-type(184) { border-top: 3px solid #FF00AF !important; }
._216 li:nth-of-type(185) { border-top: 3px solid #FF00D7 !important; }
._216 li:nth-of-type(186) { border-top: 3px solid #FF00FF !important; }
._216 li:nth-of-type(187) { border-top: 3px solid #FF5F00 !important; }
._216 li:nth-of-type(188) { border-top: 3px solid #FF5F5F !important; }
._216 li:nth-of-type(189) { border-top: 3px solid #FF5F87 !important; }
._216 li:nth-of-type(190) { border-top: 3px solid #FF5FAF !important; }
._216 li:nth-of-type(191) { border-top: 3px solid #FF5FD7 !important; }
._216 li:nth-of-type(192) { border-top: 3px solid #FF5FFF !important; }
._216 li:nth-of-type(193) { border-top: 3px solid #FF8700 !important; }
._216 li:nth-of-type(194) { border-top: 3px solid #FF875F !important; }
._216 li:nth-of-type(195) { border-top: 3px solid #FF8787 !important; }
._216 li:nth-of-type(196) { border-top: 3px solid #FF87AF !important; }
._216 li:nth-of-type(197) { border-top: 3px solid #FF87D7 !important; }
._216 li:nth-of-type(198) { border-top: 3px solid #FF87FF !important; }
._216 li:nth-of-type(199) { border-top: 3px solid #FFAF00 !important; }
._216 li:nth-of-type(200) { border-top: 3px solid #FFAF5F !important; }
._216 li:nth-of-type(201) { border-top: 3px solid #FFAF87 !important; }
._216 li:nth-of-type(202) { border-top: 3px solid #FFAFAF !important; }
._216 li:nth-of-type(203) { border-top: 3px solid #FFAFD7 !important; }
._216 li:nth-of-type(204) { border-top: 3px solid #FFAFFF !important; }
._216 li:nth-of-type(205) { border-top: 3px solid #FFD700 !important; }
._216 li:nth-of-type(206) { border-top: 3px solid #FFD75F !important; }
._216 li:nth-of-type(207) { border-top: 3px solid #FFD787 !important; }
._216 li:nth-of-type(208) { border-top: 3px solid #FFD7AF !important; }
._216 li:nth-of-type(209) { border-top: 3px solid #FFD7D7 !important; }
._216 li:nth-of-type(210) { border-top: 3px solid #FFD7FF !important; }
._216 li:nth-of-type(211) { border-top: 3px solid #FFFF00 !important; }
._216 li:nth-of-type(212) { border-top: 3px solid #FFFF5F !important; }
._216 li:nth-of-type(213) { border-top: 3px solid #FFFF87 !important; }
._216 li:nth-of-type(214) { border-top: 3px solid #FFFFAF !important; }
._216 li:nth-of-type(215) { border-top: 3px solid #FFFFD7 !important; }
._216 li:nth-of-type(216) { border-top: 3px solid #FFFFFF !important; }
._24 { padding-bottom: 1em; }
._24 li:nth-of-type(1) { border-top: 3px solid #080808 !important; }
._24 li:nth-of-type(2) { border-top: 3px solid #121212 !important; }
._24 li:nth-of-type(3) { border-top: 3px solid #1C1C1C !important; }
._24 li:nth-of-type(4) { border-top: 3px solid #262626 !important; }
._24 li:nth-of-type(5) { border-top: 3px solid #303030 !important; }
._24 li:nth-of-type(6) { border-top: 3px solid #3A3A3A !important; }
._24 li:nth-of-type(7) { border-top: 3px solid #444444 !important; }
._24 li:nth-of-type(8) { border-top: 3px solid #4E4E4E !important; }
._24 li:nth-of-type(9) { border-top: 3px solid #585858 !important; }
._24 li:nth-of-type(10) { border-top: 3px solid #606060 !important; }
._24 li:nth-of-type(11) { border-top: 3px solid #666666 !important; }
._24 li:nth-of-type(12) { border-top: 3px solid #767676 !important; }
._24 li:nth-of-type(13) { border-top: 3px solid #808080 !important; }
._24 li:nth-of-type(14) { border-top: 3px solid #8A8A8A !important; }
._24 li:nth-of-type(15) { border-top: 3px solid #949494 !important; }
._24 li:nth-of-type(16) { border-top: 3px solid #9E9E9E !important; }
._24 li:nth-of-type(17) { border-top: 3px solid #A8A8A8 !important; }
._24 li:nth-of-type(18) { border-top: 3px solid #B2B2B2 !important; }
._24 li:nth-of-type(19) { border-top: 3px solid #BCBCBC !important; }
._24 li:nth-of-type(20) { border-top: 3px solid #C6C6C6 !important; }
._24 li:nth-of-type(21) { border-top: 3px solid #D0D0D0 !important; }
._24 li:nth-of-type(22) { border-top: 3px solid #DADADA !important; }
._24 li:nth-of-type(23) { border-top: 3px solid #E4E4E4 !important; }
._24 li:nth-of-type(24) { border-top: 3px solid #EEEEEE !important; }
._16 .bg li:nth-of-type(1) { border-top: 20px solid #000000 !important; height: 40px !important; }
._16 .bg li:nth-of-type(2) { border-top: 20px solid #800000 !important; height: 40px !important; }
._16 .bg li:nth-of-type(3) { border-top: 20px solid #008000 !important; height: 40px !important; }
._16 .bg li:nth-of-type(4) { border-top: 20px solid #808000 !important; height: 40px !important; }
._16 .bg li:nth-of-type(5) { border-top: 20px solid #000080 !important; height: 40px !important; }
._16 .bg li:nth-of-type(6) { border-top: 20px solid #800080 !important; height: 40px !important; }
._16 .bg li:nth-of-type(7) { border-top: 20px solid #008080 !important; height: 40px !important; }
._16 .bg li:nth-of-type(8) { border-top: 20px solid #C0C0C0 !important; height: 40px !important; }
._16 .bg li:nth-of-type(9) { border-top: 20px solid #808080 !important; height: 40px !important; }
._16 .bg li:nth-of-type(10) { border-top: 20px solid #FF0000 !important; height: 40px !important; }
._16 .bg li:nth-of-type(11) { border-top: 20px solid #00FF00 !important; height: 40px !important; }
._16 .bg li:nth-of-type(12) { border-top: 20px solid #FFFF00 !important; height: 40px !important; }
._16 .bg li:nth-of-type(13) { border-top: 20px solid #0000FF !important; height: 40px !important; }
._16 .bg li:nth-of-type(14) { border-top: 20px solid #FF00FF !important; height: 40px !important; }
._16 .bg li:nth-of-type(15) { border-top: 20px solid #00FFFF !important; height: 40px !important; }
._16 .bg li:nth-of-type(16) { border-top: 20px solid #FFFFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(1) { border-top: 20px solid #000000 !important; height: 40px !important; }
._216 .bg li:nth-of-type(2) { border-top: 20px solid #00005F !important; height: 40px !important; }
._216 .bg li:nth-of-type(3) { border-top: 20px solid #000087 !important; height: 40px !important; }
._216 .bg li:nth-of-type(4) { border-top: 20px solid #0000AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(5) { border-top: 20px solid #0000D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(6) { border-top: 20px solid #0000FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(7) { border-top: 20px solid #005F00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(8) { border-top: 20px solid #005F5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(9) { border-top: 20px solid #005F87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(10) { border-top: 20px solid #005FAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(11) { border-top: 20px solid #005FD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(12) { border-top: 20px solid #005FFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(13) { border-top: 20px solid #008700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(14) { border-top: 20px solid #00875F !important; height: 40px !important; }
._216 .bg li:nth-of-type(15) { border-top: 20px solid #008787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(16) { border-top: 20px solid #0087AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(17) { border-top: 20px solid #0087D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(18) { border-top: 20px solid #0087FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(19) { border-top: 20px solid #00AF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(20) { border-top: 20px solid #00AF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(21) { border-top: 20px solid #00AF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(22) { border-top: 20px solid #00AFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(23) { border-top: 20px solid #00AFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(24) { border-top: 20px solid #00AFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(25) { border-top: 20px solid #00D700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(26) { border-top: 20px solid #00D75F !important; height: 40px !important; }
._216 .bg li:nth-of-type(27) { border-top: 20px solid #00D787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(28) { border-top: 20px solid #00D7AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(29) { border-top: 20px solid #00D7D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(30) { border-top: 20px solid #00D7FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(31) { border-top: 20px solid #00FF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(32) { border-top: 20px solid #00FF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(33) { border-top: 20px solid #00FF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(34) { border-top: 20px solid #00FFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(35) { border-top: 20px solid #00FFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(36) { border-top: 20px solid #00FFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(37) { border-top: 20px solid #5F0000 !important; height: 40px !important; }
._216 .bg li:nth-of-type(38) { border-top: 20px solid #5F005F !important; height: 40px !important; }
._216 .bg li:nth-of-type(39) { border-top: 20px solid #5F0087 !important; height: 40px !important; }
._216 .bg li:nth-of-type(40) { border-top: 20px solid #5F00AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(41) { border-top: 20px solid #5F00D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(42) { border-top: 20px solid #5F00FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(43) { border-top: 20px solid #5F5F00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(44) { border-top: 20px solid #5F5F5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(45) { border-top: 20px solid #5F5F87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(46) { border-top: 20px solid #5F5FAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(47) { border-top: 20px solid #5F5FD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(48) { border-top: 20px solid #5F5FFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(49) { border-top: 20px solid #5F8700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(50) { border-top: 20px solid #5F875F !important; height: 40px !important; }
._216 .bg li:nth-of-type(51) { border-top: 20px solid #5F8787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(52) { border-top: 20px solid #5F87AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(53) { border-top: 20px solid #5F87D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(54) { border-top: 20px solid #5F87FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(55) { border-top: 20px solid #5FAF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(56) { border-top: 20px solid #5FAF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(57) { border-top: 20px solid #5FAF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(58) { border-top: 20px solid #5FAFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(59) { border-top: 20px solid #5FAFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(60) { border-top: 20px solid #5FAFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(61) { border-top: 20px solid #5FD700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(62) { border-top: 20px solid #5FD75F !important; height: 40px !important; }
._216 .bg li:nth-of-type(63) { border-top: 20px solid #5FD787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(64) { border-top: 20px solid #5FD7AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(65) { border-top: 20px solid #5FD7D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(66) { border-top: 20px solid #5FD7FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(67) { border-top: 20px solid #5FFF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(68) { border-top: 20px solid #5FFF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(69) { border-top: 20px solid #5FFF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(70) { border-top: 20px solid #5FFFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(71) { border-top: 20px solid #5FFFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(72) { border-top: 20px solid #5FFFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(73) { border-top: 20px solid #870000 !important; height: 40px !important; }
._216 .bg li:nth-of-type(74) { border-top: 20px solid #87005F !important; height: 40px !important; }
._216 .bg li:nth-of-type(75) { border-top: 20px solid #870087 !important; height: 40px !important; }
._216 .bg li:nth-of-type(76) { border-top: 20px solid #8700AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(77) { border-top: 20px solid #8700D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(78) { border-top: 20px solid #8700FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(79) { border-top: 20px solid #875F00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(80) { border-top: 20px solid #875F5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(81) { border-top: 20px solid #875F87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(82) { border-top: 20px solid #875FAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(83) { border-top: 20px solid #875FD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(84) { border-top: 20px solid #875FFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(85) { border-top: 20px solid #878700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(86) { border-top: 20px solid #87875F !important; height: 40px !important; }
._216 .bg li:nth-of-type(87) { border-top: 20px solid #878787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(88) { border-top: 20px solid #8787AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(89) { border-top: 20px solid #8787D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(90) { border-top: 20px solid #8787FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(91) { border-top: 20px solid #87AF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(92) { border-top: 20px solid #87AF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(93) { border-top: 20px solid #87AF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(94) { border-top: 20px solid #87AFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(95) { border-top: 20px solid #87AFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(96) { border-top: 20px solid #87AFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(97) { border-top: 20px solid #87D700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(98) { border-top: 20px solid #87D75F !important; height: 40px !important; }
._216 .bg li:nth-of-type(99) { border-top: 20px solid #87D787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(100) { border-top: 20px solid #87D7AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(101) { border-top: 20px solid #87D7D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(102) { border-top: 20px solid #87D7FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(103) { border-top: 20px solid #87FF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(104) { border-top: 20px solid #87FF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(105) { border-top: 20px solid #87FF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(106) { border-top: 20px solid #87FFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(107) { border-top: 20px solid #87FFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(108) { border-top: 20px solid #87FFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(109) { border-top: 20px solid #AF0000 !important; height: 40px !important; }
._216 .bg li:nth-of-type(110) { border-top: 20px solid #AF005F !important; height: 40px !important; }
._216 .bg li:nth-of-type(111) { border-top: 20px solid #AF0087 !important; height: 40px !important; }
._216 .bg li:nth-of-type(112) { border-top: 20px solid #AF00AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(113) { border-top: 20px solid #AF00D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(114) { border-top: 20px solid #AF00FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(115) { border-top: 20px solid #AF5F00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(116) { border-top: 20px solid #AF5F5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(117) { border-top: 20px solid #AF5F87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(118) { border-top: 20px solid #AF5FAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(119) { border-top: 20px solid #AF5FD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(120) { border-top: 20px solid #AF5FFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(121) { border-top: 20px solid #AF8700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(122) { border-top: 20px solid #AF875F !important; height: 40px !important; }
._216 .bg li:nth-of-type(123) { border-top: 20px solid #AF8787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(124) { border-top: 20px solid #AF87AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(125) { border-top: 20px solid #AF87D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(126) { border-top: 20px solid #AF87FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(127) { border-top: 20px solid #AFAF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(128) { border-top: 20px solid #AFAF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(129) { border-top: 20px solid #AFAF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(130) { border-top: 20px solid #AFAFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(131) { border-top: 20px solid #AFAFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(132) { border-top: 20px solid #AFAFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(133) { border-top: 20px solid #AFD700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(134) { border-top: 20px solid #AFD75F !important; height: 40px !important; }
._216 .bg li:nth-of-type(135) { border-top: 20px solid #AFD787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(136) { border-top: 20px solid #AFD7AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(137) { border-top: 20px solid #AFD7D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(138) { border-top: 20px solid #AFD7FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(139) { border-top: 20px solid #AFFF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(140) { border-top: 20px solid #AFFF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(141) { border-top: 20px solid #AFFF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(142) { border-top: 20px solid #AFFFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(143) { border-top: 20px solid #AFFFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(144) { border-top: 20px solid #AFFFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(145) { border-top: 20px solid #D70000 !important; height: 40px !important; }
._216 .bg li:nth-of-type(146) { border-top: 20px solid #D7005F !important; height: 40px !important; }
._216 .bg li:nth-of-type(147) { border-top: 20px solid #D70087 !important; height: 40px !important; }
._216 .bg li:nth-of-type(148) { border-top: 20px solid #D700AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(149) { border-top: 20px solid #D700D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(150) { border-top: 20px solid #D700FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(151) { border-top: 20px solid #D75F00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(152) { border-top: 20px solid #D75F5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(153) { border-top: 20px solid #D75F87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(154) { border-top: 20px solid #D75FAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(155) { border-top: 20px solid #D75FD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(156) { border-top: 20px solid #D75FFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(157) { border-top: 20px solid #D78700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(158) { border-top: 20px solid #D7875F !important; height: 40px !important; }
._216 .bg li:nth-of-type(159) { border-top: 20px solid #D78787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(160) { border-top: 20px solid #D787AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(161) { border-top: 20px solid #D787D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(162) { border-top: 20px solid #D787FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(163) { border-top: 20px solid #D7AF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(164) { border-top: 20px solid #D7AF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(165) { border-top: 20px solid #D7AF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(166) { border-top: 20px solid #D7AFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(167) { border-top: 20px solid #D7AFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(168) { border-top: 20px solid #D7AFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(169) { border-top: 20px solid #D7D700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(170) { border-top: 20px solid #D7D75F !important; height: 40px !important; }
._216 .bg li:nth-of-type(171) { border-top: 20px solid #D7D787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(172) { border-top: 20px solid #D7D7AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(173) { border-top: 20px solid #D7D7D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(174) { border-top: 20px solid #D7D7FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(175) { border-top: 20px solid #D7FF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(176) { border-top: 20px solid #D7FF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(177) { border-top: 20px solid #D7FF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(178) { border-top: 20px solid #D7FFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(179) { border-top: 20px solid #D7FFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(180) { border-top: 20px solid #D7FFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(181) { border-top: 20px solid #FF0000 !important; height: 40px !important; }
._216 .bg li:nth-of-type(182) { border-top: 20px solid #FF005F !important; height: 40px !important; }
._216 .bg li:nth-of-type(183) { border-top: 20px solid #FF0087 !important; height: 40px !important; }
._216 .bg li:nth-of-type(184) { border-top: 20px solid #FF00AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(185) { border-top: 20px solid #FF00D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(186) { border-top: 20px solid #FF00FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(187) { border-top: 20px solid #FF5F00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(188) { border-top: 20px solid #FF5F5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(189) { border-top: 20px solid #FF5F87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(190) { border-top: 20px solid #FF5FAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(191) { border-top: 20px solid #FF5FD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(192) { border-top: 20px solid #FF5FFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(193) { border-top: 20px solid #FF8700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(194) { border-top: 20px solid #FF875F !important; height: 40px !important; }
._216 .bg li:nth-of-type(195) { border-top: 20px solid #FF8787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(196) { border-top: 20px solid #FF87AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(197) { border-top: 20px solid #FF87D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(198) { border-top: 20px solid #FF87FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(199) { border-top: 20px solid #FFAF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(200) { border-top: 20px solid #FFAF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(201) { border-top: 20px solid #FFAF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(202) { border-top: 20px solid #FFAFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(203) { border-top: 20px solid #FFAFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(204) { border-top: 20px solid #FFAFFF !important; height: 40px !important; }
._216 .bg li:nth-of-type(205) { border-top: 20px solid #FFD700 !important; height: 40px !important; }
._216 .bg li:nth-of-type(206) { border-top: 20px solid #FFD75F !important; height: 40px !important; }
._216 .bg li:nth-of-type(207) { border-top: 20px solid #FFD787 !important; height: 40px !important; }
._216 .bg li:nth-of-type(208) { border-top: 20px solid #FFD7AF !important; height: 40px !important; }
._216 .bg li:nth-of-type(209) { border-top: 20px solid #FFD7D7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(210) { border-top: 20px solid #FFD7FF !important; height: 40px !important; }
._216 .bg li:nth-of-type(211) { border-top: 20px solid #FFFF00 !important; height: 40px !important; }
._216 .bg li:nth-of-type(212) { border-top: 20px solid #FFFF5F !important; height: 40px !important; }
._216 .bg li:nth-of-type(213) { border-top: 20px solid #FFFF87 !important; height: 40px !important; }
._216 .bg li:nth-of-type(214) { border-top: 20px solid #FFFFAF !important; height: 40px !important; }
._216 .bg li:nth-of-type(215) { border-top: 20px solid #FFFFD7 !important; height: 40px !important; }
._216 .bg li:nth-of-type(216) { border-top: 20px solid #FFFFFF !important; height: 40px !important; }
._24 { margin-bottom: 4rem; }
._24 .bg li:nth-of-type(1) { border-top: 20px solid #080808 !important; height: 40px !important; }
._24 .bg li:nth-of-type(2) { border-top: 20px solid #121212 !important; height: 40px !important; }
._24 .bg li:nth-of-type(3) { border-top: 20px solid #1C1C1C !important; height: 40px !important; }
._24 .bg li:nth-of-type(4) { border-top: 20px solid #262626 !important; height: 40px !important; }
._24 .bg li:nth-of-type(5) { border-top: 20px solid #303030 !important; height: 40px !important; }
._24 .bg li:nth-of-type(6) { border-top: 20px solid #3A3A3A !important; height: 40px !important; }
._24 .bg li:nth-of-type(7) { border-top: 20px solid #444444 !important; height: 40px !important; }
._24 .bg li:nth-of-type(8) { border-top: 20px solid #4E4E4E !important; height: 40px !important; }
._24 .bg li:nth-of-type(9) { border-top: 20px solid #585858 !important; height: 40px !important; }
._24 .bg li:nth-of-type(10) { border-top: 20px solid #606060 !important; height: 40px !important; }
._24 .bg li:nth-of-type(11) { border-top: 20px solid #666666 !important; height: 40px !important; }
._24 .bg li:nth-of-type(12) { border-top: 20px solid #767676 !important; height: 40px !important; }
._24 .bg li:nth-of-type(13) { border-top: 20px solid #808080 !important; height: 40px !important; }
._24 .bg li:nth-of-type(14) { border-top: 20px solid #8A8A8A !important; height: 40px !important; }
._24 .bg li:nth-of-type(15) { border-top: 20px solid #949494 !important; height: 40px !important; }
._24 .bg li:nth-of-type(16) { border-top: 20px solid #9E9E9E !important; height: 40px !important; }
._24 .bg li:nth-of-type(17) { border-top: 20px solid #A8A8A8 !important; height: 40px !important; }
._24 .bg li:nth-of-type(18) { border-top: 20px solid #B2B2B2 !important; height: 40px !important; }
._24 .bg li:nth-of-type(19) { border-top: 20px solid #BCBCBC !important; height: 40px !important; }
._24 .bg li:nth-of-type(20) { border-top: 20px solid #C6C6C6 !important; height: 40px !important; }
._24 .bg li:nth-of-type(21) { border-top: 20px solid #D0D0D0 !important; height: 40px !important; }
._24 .bg li:nth-of-type(22) { border-top: 20px solid #DADADA !important; height: 40px !important; }
._24 .bg li:nth-of-type(23) { border-top: 20px solid #E4E4E4 !important; height: 40px !important; }
._24 .bg li:nth-of-type(24) { border-top: 20px solid #EEEEEE !important; height: 40px !important; }
::selection, ::-moz-selection, ::before ::selection { background-color: #ccc; color: #d7005f; }
